
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddAnimal</title>
</head>
<body>
    <div> 
		<table>
			<tr>
				<td align="right">种类</td>
				<td><input id="animal_type" type="text" /></td>
			</tr>
			<tr>
				<td align="right">适用饲料种类</td>
				<td><input id="feed_type" type="text" /></td>
			</tr>
		</table>
    </div>
</body>
</html>