
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>牲畜管理</title>
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/bootstrap/easyui.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/icon.css" rel="stylesheet" />
	<script src="~/Scripts/highcharts.js"></script>
	<style>
		body{
			font-family:'Microsoft YaHei';
		}
	</style>
	<script>
		$(document).ready(function () {
			$("#this_table").datagrid({
				url: "/AnimalManagement/GetPaginationAnimals",
				striped: true,
				rownumbers: true,
				pagination: true,
				singleSelect: true,
				pageSize: 15,
				idField: 'AnimalID',
				pageList: [5, 10, 15],
				columns: [[
					{ field: "AnimalID", title: "标识码", width: 100 },
					{ field: "AnimalType", title: "动物品种", width: 70 },
					{ field: "AnimalBirth", title: "入栏时间", width: 150 },
					{ field: "FarmID", title: "养殖场ID", width: 120 },
					{ field: "FeedType", title: "适用饲料类型", width: 100 },
					{ field: "AnimalState", title: "牲畜当前状态", width: 100 }
				]],
				toolbar: [
					{ text: '添加', iconCls: 'icon-add', handler: function () { add(); } },
					{ text: '编辑', iconCls: 'icon-edit', handler: function () { edit(); } },
					{ text: '删除', iconCls: 'icon-remove', handler: function () { deleteRow(); } },
					{ text: '喂养', iconCls: 'icon-add', handler: function () { addFeed(); } },
					{ text: '喂药', iconCls: 'icon-add', handler: function () { addMedicine(); } },
					{ text: '检疫', iconCls: 'icon-add', handler: function () { addCheck(); } },
					{ text: '喂养详情', iconCls: 'icon-add', handler: function () { feedDetail(); } }
				]
			});

			$.ajax({
				type: "POST",
				url: "/AnimalManagement/GetUnusualAnimal",
				datatype: "Json",
				success: function (data) {
					if (data == '无异常列') {
						
					}
					else {
						alert(data.length);
						$("#this_table").datagrid({
							rowStyler: function (index, row) {
								for (var i = 0; i < data.length; i++) {
									if (row.AnimalID == data[i]) {
										return 'background-color:#00CED1;color:black;';
									}
								}
							}
						})
					}
				}
			});

			
		})

		function addMedicine() {
			var row = $("#this_table").datagrid("getChecked");
			if (row.length < 1) {
				$.messager.alert("通知", "请选择一行以进行添加");
				return;
			}
			else {
				$("<div/>").dialog({
					id: "addMedicine_div",
					href: "/Medicine/AddMedicineForAnimalPage",
					title: "添加用药信息",
					width: 300,
					height: 220,
					modal: true,
					buttons: [{
						id: 'certain',
						text: '添 加',
						handler: function () {
							var rows = $("#this_table").datagrid("getChecked");
							var animal_id = "";
							$.each(rows, function (i, row) {
								animal_id = row.AnimalID + ",";
							});
							animal_id = animal_id.substring(0, animal_id.length - 1);
							var medicine_id = $("#medicineid_selection option:selected").val();
							var medicine_person = $("#medicine_person").val();
							var medicine_amount = $("#medicine_amount").val();
							var reason = $("#reason").val();
							$.ajax({
								url: "/Medicine/AddMedicineUseAction",
								data: {
									"animal_id": animal_id,
									"medicine_id": medicine_id,
									"medicine_person": medicine_person,
									"medicine_amount": medicine_amount,
									"reason": reason
								},
								type: "POST",
								dataType: "Json",
								success: function (data) {
									alert(data);
									$("#addMedicine_div").dialog("destroy");
									$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
								}
							})
						}
					}, {
						text: '取消',
						handler: function () {
							$("#addMedicine_div").dialog("destroy");
						}
					}],
					onLoad: function () {
						// do nothing
					},
					onClose: function () {
						$("#addMedicine_div").dialog("destroy");
					}
				})
			}
		}

		function addFeed() {
			var row = $("#this_table").datagrid("getChecked");
			if (row.length < 1) {
				$.messager.alert("通知", "请选择一条记录进行添加");
				return;
			}
			else {
				$("<div/>").dialog({
					id: "addFeed_div",
					href: "/Feed/AddFeedForAnimal",
					title: "添加用药信息",
					width: 300,
					height: 220,
					modal: true,
					buttons: [{
						id: 'certain',
						text: '添 加',
						handler: function () {
							var rows = $("#this_table").datagrid("getChecked");
							var animal_id = "";
							$.each(rows, function (i, row) {
								animal_id = row.AnimalID + ",";
							});
							animal_id = animal_id.substring(0, animal_id.length - 1);
							var feed_id = $("#feed_selection option:selected").val();
							var feed_person = $("#feed_person").val();
							var feed_amount = $("#feed_amount").val();
							$.ajax({
								url: "/Feed/AddFeedUseAction",
								data: {
									"feed_id": feed_id,
									"animal_id": animal_id,
									"feed_person": feed_person,
									"feed_amount": feed_amount
								},
								type: "POST",
								dataType: "Json",
								success: function (data) {
									alert(data);
									$("#addFeed_div").dialog("destroy");
									$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
								},
							})

						}
					}, {
						text: '取消',
						handler: function () {
							$("#addFeed_div").dialog("destroy");
						}
					}],
					onLoad: function () {
						// do nothing
					},
					onClose: function () {
						$("#addFeed_div").dialog("destroy");
					}
				})
			}
		}

		function addCheck() {
			var row = $("#this_table").datagrid("getChecked");
			if (row.length < 1) {
				$.messager.alert("通知", "请选择一行以进行检疫操作");
				return;
			}
			else {
				$("<div/>").dialog({
					id: "addCheck_div",
					href: "/Check/AddCheckForAnimal",
					title: "添加检疫信息",
					width: 300,
					height: 220,
					modal: true,
					buttons: [{
						id: 'certain',
						text: '添 加',
						handler: function () {
							var rows = $("#this_table").datagrid("getChecked");
							var animal_id = "";
							$.each(rows, function (i, row) {
								animal_id = row.AnimalID + ",";
							});
							animal_id = animal_id.substring(0, animal_id.length - 1);

							var check_position = $("#check_position").val();
							var check_person = $("#check_person").val();
							var check_result = $("#check_result").val();
							var animal_state = $("#animal_state").val();
							$.ajax({
								url: "/Check/AddCheckAction",
								data: {
									"check_position": check_position,
									"check_person": check_person,
									"check_result": check_result,
									"animal_id": animal_id,
									"animal_state": animal_state,
								},
								type: "POST",
								dataType: "Json",
								success: function (data) {
									alert(data);
									$("#addCheck_div").dialog("destroy");
									$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
								}
							})
						}
					}, {
						text: '取消',
						handler: function () {
							$("#addCheck_div").dialog("destroy");
						}
					}],
					onLoad: function () {
						// do nothing
					},
					onClose: function () {
						$("#addCheck_div").dialog("destroy");
					}
				})
			}
		}

		function add() {
			//增加
			//alert('Open the Add Window')
			$("<div/>").dialog({
				id: "addAnimal_id",
				href: "/AnimalManagement/AddAnimal",
				title: "添加牲畜信息",
				width: 300,
				height: 200,
				modal: true,
				buttons: [{
					id: 'certain',
					text: '添 加',
					handler: function () {
						var animal_type = $("#animal_type").val();
						var feed_type = $("#feed_type").val();
						var animal_state = $("#animal_state").val();
						$.ajax({
							url: "/AnimalManagement/AddOneAnimal",
							data: {
								'AnimalType': animal_type,
								'FeedType': feed_type,
								'AnimalState': animal_state
							},
							type: "POST",
							dataType: "Json",
							success: function (data) {
								alert(data);
								$("#addAnimal_id").dialog("destroy");
								$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
							}
						})
					}
				}, {
					text: '取消',
					handler: function () {
						$("#addAnimal_id").dialog("destroy");
					}
				}],
				onLoad: function () {
					// do nothing
				},
				onClose: function () {
					$("#addAnimal_id").dialog("destroy");
				}
			})
		}

		function edit() {
			//编辑
			var row = $("#this_table").datagrid("getChecked");
			if (row.length < 1) {
				$.messager.alert("通知", "请选择一行以进行编辑");
				return;
			}
			else {
				$("<div/>").dialog({
					id: "alterAnimal_div",
					href: "/AnimalManagement/AlterAnimal",
					title: "修改牲畜状态信息",
					width: 300,
					height: 220,
					modal: true,
					buttons: [{
						id: 'certain',
						text: '修  改',
						handler: function () {
							var rows = $("#this_table").datagrid("getChecked");
							var animal_id = "";
							$.each(rows, function (i, row) {
								animal_id = row.AnimalID + ",";
							});
							animal_id = animal_id.substring(0, animal_id.length - 1);
							var animal_state = $("#animal_state").val();
							$.ajax({
								url: "/AnimalManagement/UpdateAnimalById",
								data: {
									"animal_id": animal_id,
									"animal_state": animal_state,
								},
								type: "POST",
								dataType: "Json",
								success: function (data) {
									alert(data);
									$("#alterAnimal_div").dialog("destroy");
									$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
								}
							})
						}
					}, {
						text: '取消',
						handler: function () {
							$("#alterAnimal_div").dialog("destroy");
						}
					}],
					onLoad: function () {
						// do nothing
					},
					onClose: function () {
						$("#alterAnimal_div").dialog("destroy");
					}
				})
			}
		}

		function deleteRow() {
			//删除行
			var rows = $("#this_table").datagrid("getChecked");
			if (rows.length < 1)	
			{
				$.messager.confirm("提示", "请先选中要删除的列");
				return;
			}
			$.messager.confirm("提示", "确定删除此列？", function (r) {
				if (r) {
					var AnimalID = "";
					$.each(rows, function (i, row) {
						AnimalID = row.AnimalID + ",";
					});
					AnimalID = AnimalID.substring(0, AnimalID.length - 1);
					$.ajax({
						url: "/AnimalManagement/DeleteAnimalById",
						data: { 'ids': AnimalID },
						type: "POST",
						dataType: "Json",
						success: function (data) {
							alert(data);
							$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
						}
					})
				}
			});

			//添加选项卡
			function addTab(subtitle, url, icon) {
				var strHtml = '<iframe id="frmWorkArea" width="99.5%" height="99%" style="padding:1px;" frameborder="0" scrolling="yes" src="' + url + '"></iframe>';
				if (!$('#tabs').tabs('exists', subtitle)) {
					$('#tabs').tabs('add', {
						title: subtitle,
						content: strHtml,
						iconCls: icon,
						closable: true,
						loadingMessage: '正在加载中......'
					});
				} else {
					$('#tabs').tabs('select', subtitle);
				}
			}

			function openTabByName(PageName, TabName) {
				addTab(TabName, PageName, null)
			}
		}

		function feedDetail() {
			var row = $("#this_table").datagrid("getChecked");
			if (row.length < 1) {
				$.messager.alert("通知", "请选择一条记录进行查看");
				return;
			}
			else {
				var rows = $("#this_table").datagrid("getChecked");
				var animal_id = "";
				$.each(rows, function (i, row) {
					animal_id = row.AnimalID + ",";
				});
				animal_id = animal_id.substring(0, animal_id.length - 1);
				$.ajax({
					url: "/AnimalManagement/GetFeedDetail",
					data: {
						"animal_id": animal_id,
					},
					type: "POST",
					dataType: "Json",
					success: function (data) {
						if (data == "该牲畜无喂养记录")
							$("#container").text("无喂养记录！");
						else {
							var feedAmount = data["feedAmount"];
							var feedDate = data["feedDate"];
							for (var i = 0; i < feedDate.length; i++)
							{
								feedDate[i] = new Date(parseInt(feedDate[i].replace(/\D/igm, ""))).toLocaleDateString();
							}
							var chart = Highcharts.chart('container', {
								chart: {
									type: 'spline'
								},
								title: {
									text: '喂养情况趋势图'
								},
								subtitle: {
									text: '近十次该牲畜喂食饲料情况'
								},
								xAxis: {
									type: 'datetime',
									labels: {
										overflow: 'justify'
									},
									categories: feedDate
								},
								yAxis: {
									title: {
										text: '饲 料 (kg)'
									},
									min: 0,
									minorGridLineWidth: 0,
									gridLineWidth: 0,
									alternateGridColor: null,
									plotBands: [{ // Light air
										from: 0.3,
										to: 1.5,
										color: 'rgba(68, 170, 213, 0.1)',
										label: {
											text: '0.3-1.5',
											style: {
												color: '#606060'
											}
										}
									}, {
										from: 1.8,
										to: 3.5,
										color: 'rgba(0, 0, 0, 0.1)',
										label: {
											text: '1.8-3.5',
											style: {
												color: '#606060'
											}
										}
									}]
								},
								tooltip: {
									valueSuffix: ' kg'
								},
								plotOptions: {
									spline: {
										lineWidth: 4,
										states: {
											hover: {
												lineWidth: 5
											}
										},
										marker: {
											enabled: false
										}
									}
								},
								series: [{
									name: '喂食饲料量',
									data: feedAmount
								}],
								navigation: {
									menuItemStyle: {
										fontSize: '10px'
									}
								}
							});
						}
					}
				})
			}
		}
	</script>
</head>
<body>
	<div style="width:1300px;">
		<div style="float:left;position:relative;">
			<table id="this_table" style="width:700px;float:left;position:relative"></table>
		</div>
		<div style="width:580px;height:460px;margin-left:10px;margin-top:5px;float:left;position:relative;background:#ffffff;align-content:center">
			<div style="font-family:宋体">数据表中蓝色行牲畜最近状态异常，建议进行检疫</div>
			<div id="container" style="min-width:560px;height:430px;font-size:14px"></div>
		</div>
	</div>
</body>
</html>
