
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
	<style>
		body{
			width:inherit;
			height:inherit;
			margin:0px;
			
		}
		form{ 
			width:300px;
			height:auto;
			margin:200px auto;
			padding-top:50px;
			padding-bottom:60px;
			background-color:antiquewhite;
			text-align:center;
		}
		#submit_bt{
			margin-right:10px;
		}
	</style>
	<script src="~/Scripts/jquery-1.10.2.js"> </script>
</head>
<body>
    <div> 
		<form action="#" method="post">
			<table align="center">
				<tr>
					<td>用户名:</td>
					<td><input type="text" id="usname" maxlength="15"/></td>
				</tr>
				<tr>
					<td>密码:</td>
					<td><input type="password" id="pwd" maxlength="15"/></td>
				</tr>
				<tr>
					<td colspan="2"><button id="submit_bt">提交</button><button id="signup_bt">注册</button></td>
				</tr>
			</table>
			
		</form>
    </div>
	<script>
		$(document).ready(function () {
			$("#signup_bt").click(function () {

			});
			$("#submit_bt").click(function () {
				$.ajax({
					type: "POST",
					url: "/Login/LoginResult",
					data: { '_username': $("#usname").val(), '_password': $("#pwd").val() },
					datatype: Text,
					success: function (data) {
						alert(data)
					}
				})
			})
		});
	</script>
</body>
</html>
