
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View02</title>
</head>
<body>
    <div> 
		<div>View02</div>
    </div>
</body>
</html>
