@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
	<script src="~/Resources/js/content.js"></script>
	<script src="~/Resources/js/jquery.min.js"></script>
	<script src="~/Resources/js/search.js"></script>
	<link rel="stylesheet" href="~/Resources/css/style.css" />
	<link rel="stylesheet" href="~/Resources/css/index.css" />
	<link rel="stylesheet" href="~/Resources/css/logo.css" />
	<link rel="stylesheet" href="~/Resources/css/search.css" />
	<link rel="stylesheet" href="~/Resources/css/content.css" />

	<script src="~/Scripts/jquery-3.2.1.js"></script>
	<script>
		$(document).ready(function () {
			$("#search_bt-cyan").click(function () {
				var procode = $("#productCode").val();
				if (procode.length != 10)
					alert("请输入合法的溯源码，正确的溯源码为10位");
				else {
					window.location.href = "/Index/SearchResultPage?unicode=" + procode;
				}
			})
		})

	</script>
	<style>
		.m-modal {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: none;
			z-index: 1000;
			overflow: auto;
			background-color: rgba(0, 0, 0, .2);
		}

		.m-modal-dialog {
			font-family: "microsoft yahei", "宋体";
			position: relative;
			margin: 0 auto;
			margin-top: -100%;
			width: 600px;
			background-color: #ffffff;
			box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
		}

		.m-top {
			background-color: rgb(20, 55, 70);
		}

		.m-modal-title {
			margin: 0;
			color: #fff;
			padding: 10px 20px 10px 20px;
			font-size: 20px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.m-modal-close {
			position: absolute;
			right: 3px;
			top: 3px;
			display: inline-block;
			font-size: 35px;
			line-height: 20px;
			color: #555;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			color: #fff;
		}

		.m-modal-close:hover {
			color: #555;
		}

		.m-middle {
			padding: 30px 50px 30px 30px;
			font-size: 15px;
		}

		.m-bottom {
			padding: 0 6px 6px;
			overflow: hidden;
		}

		.m-bottom button {
			font-family: "microsoft yahei", "宋体";
			cursor: pointer;
			border: 1px solid #ccc;
			background-color: #fff;
			padding: 5px 15px;
			float: right;
			margin: 0 0 0 10px;
			outline: none;
			font-size: 14px;
			color: #333;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.m-bottom button:hover {
			color: #333;
			background-color: #e6e6e6;
			border-color: #adadad;
		}

		.m-bottom button:active {
			color: #333;
			background-color: #d4d4d4;
			border-color: #8c8c8c;
		}

		.m-bottom .m-btn-sure {
			color: #fff;
			background-color: #337ab7;
			border-color: #2e6da4;
		}

		.m-bottom .m-btn-sure:hover {
			color: #fff;
			background-color: #286090;
			border-color: #204d74;
		}

		.m-bottom .m-btn-sure:active {
			color: #fff;
			background-color: #204d74;
			border-color: #122b40;
		}
	</style>
</head>
<body>
	<div class="logo-box-cyan">
		<div class="logo-cyan">国家食品（产品）安全追溯平台 </div>
		<div class="nav-cyan">
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#">新闻动态</a></li>
				<li><a href="#">应用案例</a></li>
				<li><a href="#">政策法规</a></li>
				<li><a href="#">新增企业</a></li>
				<li><a href="#">第三方追溯平台</a></li>
			</ul>
		</div>
	</div>
	<form>
		<div id="search-box-cyan">
			<div id="s-tit-cyan">
				<div id="s-tab-cyan">
					<ul id="s-tab-ul-cyan">
						<li class="s-tab-cur-cyan">商品条码</li>
					</ul>
				</div>
			</div>
			<div id="s-con-cyan">
				<div class="s-con-input-cyan">
					<ul id="s-con-ul-cyan">
						<li><input type="text" id="productCode" /></li>
					</ul>
				</div>
				<div class="s-con-input-cyan"><input type="button" id="search_bt-cyan" value="查询" /></div>
			</div>
		</div>
	</form>

	<div class="content-bg-cyan">
		<div class="content-cyan">
			<div class="content-pic-cyan">
				<div><a href="#"><img src="~/Resources/img/pt001.gif" id="img1" /></a></div>
				<div><a href="#"><img src="~/Resources/img/pt002.gif" id="img2" /></a></div>
				<div><a href="#"><img src="~/Resources/img/pt003.gif" id="img3" /></a></div>
				<div><a href="#"><img src="~/Resources/img/pt004.gif" id="img4" /></a></div>
			</div>

			<div class="info-list-cyan">
				<div class="news-cyan">
					<ul>
						<li><span class="list_no1-cyan">01</span><a href="#">“标签连接中国 服务千县万企”走进丹东市</a></li>
						<li><span class="list_no1-cyan">02</span><a href="#">企业可通过国家食品（产品）安全追溯平台自动生成物流...</a></li>
						<li><span class="list_no1-cyan">03</span><a href="#">“标签连接中国 服务千县万企”走进仪征——中国物品编...</a></li>
						<li><span class="list_no2-cyan">04</span><a href="#">中国自动识别技术协会代理秘书长唐成带队赴仪征市开展...</a></li>
						<li><span class="list_no2-cyan">05</span><a href="#">全国GS1标准供应链体系建设培训在京举办</a></li>
						<li><span class="list_no2-cyan">06</span><a href="#">国家重点食品质量安全追溯物联网应用示范工程企业平台...</a></li>
					</ul>
				</div>
				<div class="append-cyan">
					<ul>
						<li><a href="#">石家庄市制酒厂</a></li>
						<li><a href="#">辽宁凯韵实业有限公司</a></li>
						<li><a href="#">金寨先徽农副产品开发有限公司</a></li>
						<li><a href="#">青岛普洛菲利食品有限公司</a></li>
						<li><a href="#">肇东市东发鑫禾米业加工厂</a></li>
						<li><a href="#">吉林省禧延参业有限公司</a></li>
						<li><a href="#">铁力农场农垦人酿酒厂</a></li>
						<li><a href="#">河南张老大粮油调味品有限公司</a></li>
						<li><a href="#">广州市圣民生物科技有限公司</a></li>
						<li><a href="#">福安市顶艺食品有限公司</a></li>
						<li><a href="#">山东尚润日用品有限公司</a></li>
						<li><a href="#">江西五壶醇酒业有限公司</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	
	
</body>
</html>
