@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
		<div>Hello world</div>
    </div>
	<form action="~/Index/TransPage" method="get">
		<div>
			UserName:<input type="text" name="_username" /><br />
			Password:<input type="password" name="_password" /><br />
		</div>
		<button type="submit">确定</button>
	</form>
	<a href="~/Index/About">关于我们</a>
</body>
</html>
