
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddButchWorkPage</title>
</head>
<body>
    <div> 
		<table align="center">
			<tr>
				<td>屠宰信息</td>
				<td><input type="text" id="butch_info" /></td>
			</tr>
			<tr>
				<td>牲畜ID</td>
				<td><input type="text" id="animal_id" /></td>
			</tr>
			<tr>
				<td>牲畜状态</td>
				<td><input type="text" id="animal_state" /></td>
			</tr>
			<tr>
				<td colspan="2">
					@using (Html.BeginForm("Upload", "ButchWork", FormMethod.Post, new { enctype = "multipart/form-data" }))
					{
						<text>选择上传文件:</text><input name="file" type="file" id="file" />
						<input type="submit" name="Upload" value="上传" />
					}
				</td>
			</tr>
		</table>
    </div>
</body>
</html>
