
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlterButchWorkPage</title>
</head>
<body>
    <div> 
		<table>
			<tr>
				<td>屠宰信息</td>
				<td><input type="text" id="butch_info" /></td>
			</tr>
			<tr>
				<td>牲畜状态</td>
				<td><input type="text" id="animal_state" /></td>
			</tr>
		</table>
    </div>
</body>
</html>
