
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlterCheckPage</title>
</head>
<body>
    <div> 
		<table align="center">
			<tr>
				<td>检疫人员</td>
				<td><input type="text" id="check_person" /></td>
			</tr>
			<tr>
				<td>检疫结果</td>
				<td><input type="text" id="check_result" /></td>
			</tr>
			<tr>
				<td>牲畜当前状态</td>
				<td><input type="text" id="animal_state" /></td>
			</tr>
		</table>
    </div>
</body>
</html>
