
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>牲畜管理</title>
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/bootstrap/easyui.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/icon.css" rel="stylesheet" />
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<style>
		body {
			font-family: 'Microsoft YaHei';
		}
	</style>
	<script>
		//退出登录
		function loginOut() {
			$.messager.confirm("提示", "确定退出系统？", function (r) {
				if (r) {
					$.ajax({
						url: "/Login/LoginOut",
						type: "post",
						data: { "action": "logout" },
						dataType: "Json",
						success: function (result) {
							if (result.success) {
								window.location.href = "/Login/LoginIndex";
							}
							else {
								$.messager.alert("提示", result.msg);
							}
						}
					})
				}
			});
		}
		//添加选项卡
		function addTab(subtitle, url, icon) {
			var strHtml = '<iframe id="frmWorkArea" width="99.5%" height="99%" style="padding:1px;" frameborder="0" scrolling="yes" src="' + url + '"></iframe>';
			if (!$('#tabs').tabs('exists', subtitle)) {
				$('#tabs').tabs('add', {
					title: subtitle,
					content: strHtml,
					iconCls: icon,
					closable: true,
					loadingMessage: '正在加载中......'
				});
			} else {
				$('#tabs').tabs('select', subtitle);
			}
		}

		function openTabByName(PageName, TabName) {
			addTab(TabName, PageName, null)
		}
	</script>
</head>
<body>
	<div class="easyui-layout" style="width:100%;height:630px;">
		<div data-options="region:'north'" style="height:60px;background:rgb(245,245,245);">
			<img src="~/Resources/img/Logo.png" style="margin-top:10px;margin-left:10px" /> <span style="font-size:18px;line-height:30px;">养殖管理后台</span>
			<div style="position: absolute; right: 5px; top: 10px;">
				欢迎您：<span style="color: #0082ff; ">@Session["Username"]</span> @DateTime.Now.ToLongDateString()@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(DateTime.Now.DayOfWeek)
			</div>
			<div style="position: absolute; right: 0px; top: 30px;">
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="loginOut();">退出登录</a>
			</div>
		</div>
		<div data-options="region:'south',split:true" style="height:50px;"></div>
		<div data-options="region:'west',split:true" title="系统设置" style="width:180px;height:100%">
			<ul class="easyui-tree">
				<li>
					<span>饲料管理</span>
					<ul>
						<li><a onclick='openTabByName("/Feed/FeedTypePage","饲料种类")'>饲料种类</a></li>
						<li><a onclick='openTabByName("/Feed/FeedPage","饲料信息")'>饲料</a></li>
						<li><a onclick='openTabByName("/Feed/FeedUsePage","喂养记录")'>喂养记录</a></li>
					</ul>
				</li>
				<li>
					<span>用药管理</span>
					<ul>
						<li><a onclick='openTabByName("/Medicine/MedicineTypePage","药品种类")'>药品种类</a></li>
						<li><a onclick='openTabByName("/Medicine/MedicinePage","药品")'>药品</a></li>
						<li><a onclick='openTabByName("/Medicine/MedicineUsePage","用药记录")'>用药记录</a></li>
					</ul>
				</li>
				<li>
					<span>牲畜养殖管理</span>
					<ul>
						<li><a onclick='openTabByName("/AnimalManagement/AnimalIndex","牲畜管理")'>牲畜信息</a></li>
					</ul>
				</li>
				<li>
					<span>检疫管理</span>
					<ul>
						<li><a onclick='openTabByName("/Check/CheckIndex","检疫管理")'>检疫信息</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div data-options="region:'center'">
			<div id="tabs" class="easyui-tabs" fit="true" border="false" ,data-options="
                    tools:[
                    {iconCls : 'icon-arrow_refresh',text:'刷新',handler:refreshTab},
                    {iconCls : 'icon-delete3',text:'关闭全部',handler:closeTab}
                    ]">
				<div id="home" title="主页" data-options="iconCls:'icon-house',closable:false" style="padding:10px">
					欢迎来到牲畜管理后台界面
				</div>
			</div>
		</div>
	</div>
</body>
</html>
