
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FarmIndex</title>
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/bootstrap/easyui.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
	<link href="~/Content/themes/icon.css" rel="stylesheet" />
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/icon.css" rel="stylesheet" />
	<script src="~/Content/js/common.js"></script>
	<link href="~/Content/themes/table.css" rel="stylesheet" />
	<style>
		body {
			font-family: 'Microsoft YaHei';
		}
	</style>
	<script>
		//添加选项卡
		function addTab(subtitle, url, icon) {
			var strHtml = '<iframe id="frmWorkArea" width="99.5%" height="99%" style="padding:1px;" frameborder="0" scrolling="yes" src="' + url + '"></iframe>';
			if (!$('#tabs').tabs('exists', subtitle)) {
				$('#tabs').tabs('add', {
					title: subtitle,
					content: strHtml,
					iconCls: icon,
					closable: true,
					loadingMessage: '正在加载中......'
				});
			} else {
				$('#tabs').tabs('select', subtitle);
			}
		}

		function openTabByName(PageName, TabName) {
			addTab(TabName, PageName, null)
		}
	</script>
</head>
<body>
	<div class="easyui-layout" style="width:100%;height:650px;">
		<div data-options="region:'north'" style="height:100px">
			养殖管理后台
		</div>
		<div data-options="region:'south',split:true" style="height:50px;"></div>
		<div data-options="region:'west',split:true" title="系统设置" style="width:180px;height:100%">
			<ul class="easyui-tree">
				<li>
					<span>饲料管理</span>
					<ul>
						<li><a onclick='openTabByName("/Feed/FeedTypePage","饲料种类")'>饲料种类</a></li>
						<li><a onclick='openTabByName("/Feed/FeedPage","饲料信息")'>饲料</a></li>
						<li><a onclick='openTabByName("/Feed/FeedUsePage","喂养记录")'>喂养记录</a></li>
					</ul>
				</li>
				<li>
					<span>牲畜养殖管理</span>
					<ul>
						<li><a onclick='openTabByName("/AnimalManagement/AnimalIndex","牲畜管理")'>牲畜信息</a></li>
					</ul>
				</li>
				<li>
					<span>检疫管理</span>
					<ul>
						<li>检疫信息</li>
					</ul>
				</li>
			</ul>
		</div>
		<div data-options="region:'center'">
			<div id="tabs" class="easyui-tabs" fit="true" border="false" ,data-options="
                    tools:[
                    {iconCls : 'icon-arrow_refresh',text:'刷新',handler:refreshTab},
                    {iconCls : 'icon-delete3',text:'关闭全部',handler:closeTab}
                    ]">
				<div id="home" title="主页" data-options="iconCls:'icon-house',closable:false" style="padding:10px">
					欢迎来到后台管理界面
				</div>
			</div>
		</div>
	</div>
</body>
</html>
