
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/bootstrap/easyui.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
	<style>
		* {
			font-size: 15px;
		}

		.addUserFormTable {
			border-collapse: collapse;
			width: 100%;
			border: 1px solid black;
		}

		.addUserFormTable th {
			border: 1px solid #ccc;
			padding: 3px;
			background-color: #F5F5F5;
			height: 25px;
		}

		.addUserFormTable td {
			text-align: left;
			border: 1px solid #ccc;
			padding: 3px;
			background-color: white;
			height: 25px;
		}
	</style>
    <title>AddUser</title>
</head>
<body>
	<div style="padding:15px">
		<form id="addUserForm" method="post">
			<table class="addUserFormTable">
				<tr>
					<th>用户名称</th>
					<td>
						<input type="text" id="user_name" class="easyui-textbox validatebox" data-options="required:true" style="width:170px;height:22px" />
					</td>
				</tr>
				<tr>
					<th>密码</th>
					<td>
						<input type="text" id="user_password" class="easyui-textbox validatebox" data-options="required:true" style="width:170px;height:22px" />
					</td>
				</tr>
				<tr>
					<th>电话</th>
					<td>
						<input type="text" id="user_tel" class="easyui-textbox validatebox" data-options="required:true" style="width:170px;height:22px" />
					</td>
				</tr>
				<tr>
					<th>所属公司</th>
					<td>
						<input type="text" id="user_company" class="easyui-textbox validatebox" data-options="required:true" style="width:170px;height:22px" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
