
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/bootstrap/easyui.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
	<style>
		* {
			font-size: 15px;
		}

		.userRoleFormTable {
			border-collapse: collapse;
			width: 100%;
			border: 1px solid black;
		}

			.userRoleFormTable th {
				border: 1px solid #ccc;
				padding: 3px;
				background-color: #F5F5F5;
				height: 25px;
			}

			.userRoleFormTable td {
				text-align: left;
				border: 1px solid #ccc;
				padding: 3px;
				background-color: white;
				height: 25px;
			}
	</style>
	<script type="text/javascript">
        function removeSpace() {
            alert($("#comboxrole").combobox('getValues'));
        }
	</script>

	<title>TreeRole</title>
</head>
<body>
	<div id="treeRoleDialog" style="padding:15px">
		<form id="userRoleForm" method="post">
			<table class="userRoleFormTable">
				<tr>
					<th>用 户</th>
					<td>
						<input type="text" id="role_username" class="easyui-textbox" data-options="readonly:true" style="width:170px;height:22px" />
					</td>
				</tr>
				<tr>
					<th>用户角色</th>
					<td>
						<input class="easyui-combobox" id="comboxrole" name="comboxrole" style="width:170px;height:22px;" data-options="url:'/User/GetAllRoles',editable:false,valueField:'RoleID',textField:'RoleName',multiple:true,panelHeight:'auto'" onUnselect="removeSpace()" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
