
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
	<hr />
    <div> 
		@RenderPage("~/Views/Default/View02.cshtml")
    </div>
	<footer style="width:inherit;height:200px;background-color:cyan;">
		底部
	</footer>
</body>
</html>
