@{
	ViewBag.Title = "View02.cshtml_@";
	Layout = "~/Views/Shared/Head.cshtml";
}
<div style="background-color:indianred">
	<h2>View02</h2>
	<a href="http://bing.com">必应</a>
</div>

@section head{
	<div>section named head</div>
	}
