
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddSalePage</title>
</head>
<body>
    <div> 
		<table align="center">
			<tr>
				<td>售卖地点</td>
				<td><input type="text" id="sale_position" /></td>
			</tr>
			<tr>
				<td>牲畜ID</td>
				<td><input type="text" id="animal_id" /></td>
			</tr>
			<tr>
				<td>商品类型</td>
				<td><input type="text" id="sale_type" /></td>
			</tr>
			<tr>
				<td>是否已卖出</td>
				<td><input type="text" id="has_saled" /></td>
			</tr>
		</table>
    </div>
</body>
</html>
