
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlterSalepage</title>
</head>
<body>
    <div> 
		<table align="center">
			<tr>
				<td>是否已售出</td>
				<td><input type="text" id="has_saled" /></td>
			</tr>
			<tr>
				<td>销售时间</td>
				<td><input type="datetime" id="sale_time" /></td>
			</tr>
		</table>
    </div>
</body>
</html>
