
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>售卖页</title>
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/bootstrap/easyui.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
	<link href="~/Content/themes/icon.css" rel="stylesheet" />
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/icon.css" rel="stylesheet" />
	<script src="~/Content/js/common.js"></script>
	<link href="~/Content/themes/table.css" rel="stylesheet" />
	<style>
		body {
			font-family: 'Microsoft YaHei';
		}
	</style>
	<script>
		$(document).ready(function () {
			$("#this_table").datagrid({
				url: "/Sales/GetPaginationSaleAction",
				striped: true,
				rownumbers: true,
				pagination: true,
				singleSelect: true,
				pageSize: 5,
				idField: 'SaleID',
				pageList: [5, 10, 20, 30],
				columns: [[
					{ field: "SaleID", title: "销售ID", width: 100 },
					{ field: "MarketID", title: "零售点ID", width: 100 },
					{ field: "SaleDate", title: "售卖时间", width: 150 },
					{ field: "SalePosition", title: "售卖地点", width: 80 },
					{ field: "AnimalID", title: "牲畜ID", width: 150 },
					{ field: "SaleType", title: "商品类型", width: 100 },
					{ field: "HasSaled", title: "是否已售出", width: 100 },
				]],
				toolbar: [
					{ text: 'Add', iconCls: 'icon-add', handler: function () { add(); } },
					{ text: 'Edit', iconCls: 'icon-edit', handler: function () { edit(); } },
					{ text: 'Delete', iconCls: 'icon-remove', handler: function () { deleteRow(); } }
				]
			})
		})
		function add() {
			//增加
			//alert('Open the Add Window')
			$("<div/>").dialog({
				id: "addSale_div",
				href: "/Sales/AddSalePage",
				title: "添加信息",
				width: 280,
				height: 200,
				modal: true,
				buttons: [{
					id: 'certain',
					text: '添 加',
					handler: function () {
						@* string market_id, string sale_position, string animal_id, string sale_type, string has_saled *@
						var market_id = "HPJLF782CS";/////~~~~~~~~!!!!!!!!!!!!!!
						var sale_position = $("#sale_position").val();
						var sale_type = $("#sale_type").val();
						var has_saled = $("#has_saled").val();
						var animal_id = $("#animal_id").val();
						$.ajax({
							url: "/Sales/AddSaleAction",
							data: {
								"market_id":market_id,
								"sale_position": sale_position,
								"sale_type": sale_type,
								"has_saled": has_saled,
								"animal_id": animal_id
							},
							type: "POST",
							dataType: "Json",
							success: function (data) {
								alert(data);
								$("#addSale_div").dialog("destroy");
								$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
							}
						})
					}
				}, {
					text: '取消',
					handler: function () {
						$("#addSale_div").dialog("destroy");
					}
				}],
				onLoad: function () {
					// do nothing
				},
				onClose: function () {
					$("#addSale_div").dialog("destroy");
				}
			})
		}
		function edit() {
			//编辑
			var row = $("#this_table").datagrid("getChecked");
			if (row.length < 1) {
				$.messager.alert("Notification", "Please choose a line");
				return;
			}
			else {
				$("<div/>").dialog({
					id: "alterSale_div",
					href: "/Sales/AlterSalePage",
					title: "修改用药记录信息",
					width: 300,
					height: 220,
					modal: true,
					buttons: [{
						id: 'certain',
						text: '修  改',
						handler: function () {
							var rows = $("#this_table").datagrid("getChecked");
							var sale_id = "";
							$.each(rows, function (i, row) {
								sale_id = row.SaleID + ",";
							});
							sale_id = sale_id.substring(0, sale_id.length - 1);
							var has_saled = $("#has_saled").val();
							var sale_time = $("#sale_time").val();
							$.ajax({
								url: "/Sales/UpdateSaleByIdAction",
								data: {
									"sale_id": sale_id,
									"has_saled": has_saled,
									"sale_time": sale_time
								},
								type: "POST",
								dataType: "Json",
								success: function (data) {
									alert(data);
									$("#alterSale_div").dialog("destroy");
									$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
								}
							})
						}
					}, {
						text: '取消',
						handler: function () {
							$("#alterSale_div").dialog("destroy");
						}
					}],
					onLoad: function () {
						// do nothing
					},
					onClose: function () {
						$("#alterSale_div").dialog("destroy");
					}
				})
			}
		}

		function deleteRow() {
			//删除行
			var rows = $("#this_table").datagrid("getChecked");
			if (rows.length < 1) {
				$.messager.confirm("提示", "请先选中要删除的列");
				return;
			}
			$.messager.confirm("提示", "确定删除此列？", function (r) {
				if (r) {
					var sale_id = "";
					$.each(rows, function (i, row) {
						sale_id = row.SaleID + ",";
					});
					sale_id = sale_id.substring(0, sale_id.length - 1);
					$.ajax({
						url: "/Sales/DeleteSaleByIdAction",
						data: { 'sale_id': sale_id },
						type: "POST",
						dataType: "Json",
						success: function (data) {
							alert(data);
							$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
						}
					})
				}
			});
		}
	</script>
</head>
<body>
    <div> 
		<table id="this_table"></table>
    </div>
</body>
</html>
