.logo-box-cyan{
	 height: 54px;
	 width: 1000px;
	 padding-top: 28px;
	 margin-left: auto;
	 margin-right: auto;
	 font-size: 28px;
	 color:#FFF;
}
.logo-box-cyan .logo-cyan{
	width: 430px;
	height: 52px;
	float: left;
}
.logo-box-cyan .logo-cyan img{
}
.logo-box-cyan .nav-cyan{
	float: right;
	width: 536px;
}
.logo-box-cyan .nav-cyan ul {
	list-style: none;
	line-height: 32px;
}
.logo-box-cyan .nav-cyan ul li {
	float: left;
	display: block;
	color: #fff;
	font-size: 14px;
	margin-left: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.logo-box-cyan .nav-cyan ul li:hover {
	cursor: pointer;
	background-color: rgb(45, 140, 163);
	border-radius: 6px;
	box-shadow: 0 1px 1px 0 #fff inset,0 3.5px 0 0 #10B66E;
}