
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlterMedicineUsePage</title>
</head>
<body>
    <div> 
		<table>
			<tr>
				<td>用药人员</td>
				<td><input type="text" id="medicine_person" /></td>
			</tr>
			<tr>
				<td>用药剂量</td>
				<td><input type="text" id="amount" /></td>
			</tr>
			<tr>
				<td>用药原因</td>
				<td><input type="text" id="reason" /></td>
			</tr>
		</table>
    </div>
</body>
</html>
