
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlterMedicineTypePage</title>
</head>
<body>
    <div> 
		<table>
			<tr>
				<td>药品种类名称</td>
				<td><input type="text" id="medicinetype_name" /></td>
			</tr>
		</table>
    </div>
</body>
</html>
