
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MedicineTypePage</title>
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/bootstrap/easyui.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
	<link href="~/Content/themes/icon.css" rel="stylesheet" />
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/icon.css" rel="stylesheet" />
	<script src="~/Content/js/common.js"></script>
	<link href="~/Content/themes/table.css" rel="stylesheet" />
	<style>
		body {
			font-family: 'Microsoft YaHei';
		}
	</style>
	<script>
		$(document).ready(function () {
			$("#this_table").datagrid({
				url: "/Medicine/GetPaginationMedicineType",
				striped: true,
				rownumbers: true,
				pagination: true,
				singleSelect: true,
				idField: 'MedicineTypeID',
				//sortName: 'AnimalType',
				sortOrder: "asc",
				pageList: [5, 10, 20, 30],
				columns: [[
					{ field: "MedicineTypeID", title: "药品种类ID", width: 100 },
					{ field: "MedicineTypeName", title: "药品种类名称", sortable: true, width: 100 },
				]],
				toolbar: [
					{ text: 'Add', iconCls: 'icon-add', handler: function () { add(); } },
					{ text: 'Edit', iconCls: 'icon-edit', handler: function () { edit(); } },
					{ text: 'Delete', iconCls: 'icon-remove', handler: function () { deleteRow(); } }
				]
			})
		})
		function add() {
			//增加
			//alert('Open the Add Window')
			$("<div/>").dialog({
				id: "addMedicineType_div",
				href: "/Medicine/AddMedicineTypePage",
				title: "添加牲畜信息",
				width: 280,
				height: 200,
				modal: true,
				buttons: [{
					id: 'certain',
					text: '添 加',
					handler: function () {
						var feedtype_name = $("#feedtype_name").val();
						$.ajax({
							url: "/Feed/AddFeedTypeAction",
							data: { 'feedtype_name': feedtype_name },
							type: "POST",
							dataType: "Json",
							success: function (data) {
								alert(data);
								$("#addFeedType_div").dialog("destroy");
								$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
							}
						})
					}
				}, {
					text: '取消',
					handler: function () {
						$("#addFeedType_div").dialog("destroy");
					}
				}],
				onLoad: function () {
					// do nothing
				},
				onClose: function () {
					$("#addFeedType_div").dialog("destroy");
				}
			})
		}
	</script>
</head>
<body>
    <div>
		<table id="this_table">

		</table>
    </div>
</body>
</html>
