
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MedicineUsePage</title>
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/bootstrap/easyui.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/icon.css" rel="stylesheet" />
	<script src="~/Scripts/highcharts.js"></script>
	<style>
		body {
			font-family: 'Microsoft YaHei';
		}
	</style>
	<script>
		$(document).ready(function () {
			$("#this_table").datagrid({
				url: "/Medicine/GetPaginationMedicineUseAction",
				striped: true,
				rownumbers: true,
				pagination: true,
				singleSelect: true,
				pageSize: 15,
				idField: 'MedicineUseID',
				pageList: [5, 10, 15],
				columns: [[
					{ field: "MedicineUseID", title: "喂药操作ID", width: 70 },
					{ field: "MedicineTypeID", title: "药品种类ID", width: 80 },
					{ field: "MedicineID", title: "药品名称", width: 110 },
					{ field: "AnimalID", title: "牲畜ID", width: 83 },
					{ field: "MedicineDate", title: "用药时间", width: 130 },
					{ field: "MedicinePerson", title: "用药人", width: 80 },
					{ field: "MedicineAmount", title: "用药量", width: 50 },
					{ field: "Reason", title: "用药原因", width: 60 }

				]],
				toolbar: [
					{ text: '添加', iconCls: 'icon-add', handler: function () { add(); } },
					{ text: '修改', iconCls: 'icon-edit', handler: function () { edit(); } },
					{ text: '删除', iconCls: 'icon-remove', handler: function () { deleteRow(); } }
				]
			});

			$.ajax({
				type: "POST",
				url: "/Medicine/GetMedicineUseCircle",
				datatype: "Json",
				success: function (data) {
					var maa = [];
					$.each(data, function (i, d) {
						maa.push([d.Name, d.Amount]);
					})
					//alert(data[0].Amount);
					$(function () {
						$('#container').highcharts({
							chart: {
								plotBackgroundColor: null,
								plotBorderWidth: null,
								plotShadow: false
							},
							title: {
								text: '本养殖场牲畜药品使用量占比'
							},
							tooltip: {
								headerFormat: '{series.name}<br>',
								pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
							},
							plotOptions: {
								pie: {
									allowPointSelect: true,
									cursor: 'pointer',
									dataLabels: {
										enabled: true,
										format: '<b>{point.name}</b>: {point.percentage:.1f} %',
										style: {
											color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
										}
									}
								}
							},
							series: [{
								type: 'pie',
								name: '各药品使用量占比',
								data: maa
								//data: [
								//	{
								//		name: 'Firefox',
								//		y: 45.0
								//	},
								//	{
								//		name: 'IE',
								//		y: 26.8
								//	},
								//	{
								//		name: 'Chrome',
								//		y: 12.8,
								//		sliced: true,
								//		selected: true	
								//	}]
							}]
						});
					});
				}
			});
		})
		function add() {
			$("<div/>").dialog({
				id: "addMedicineUse_div",
				href: "/Medicine/AddMedicineUsePage",
				title: "添加信息",
				width: 280,
				height: 200,
				modal: true,
				buttons: [{
					id: 'certain',
					text: '添 加',
					handler: function () {
						var animal_id = $("#animal_id").val();
						var medicine_id = $("#medicineid_selection option:selected").val();
						var medicine_person = $("#medicine_person").val();
						var medicine_amount = $("#medicine_amount").val();
						var reason = $("#reason").val();
						$.ajax({
							url: "/Medicine/AddMedicineUseAction",
							data: {
								"animal_id": animal_id,
								"medicine_id": medicine_id,
								"medicine_person": medicine_person,
								"medicine_amount": medicine_amount,
								"reason": reason
							},
							type: "POST",
							dataType: "Json",
							success: function (data) {
								alert(data);
								$("#addMedicineUse_div").dialog("destroy");
								$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
							}
						})
					}
				}, {
					text: '取消',
					handler: function () {
						$("#addMedicineUse_div").dialog("destroy");
					}
				}],
				onLoad: function () {
					// do nothing
				},
				onClose: function () {
					$("#addMedicineUse_div").dialog("destroy");
				}
			})
		}
		function edit() {
			//编辑
			var row = $("#this_table").datagrid("getChecked");
			if (row.length < 1) {
				$.messager.alert("Notification", "Please choose a line");
				return;
			}
			else {
				$("<div/>").dialog({
					id: "alterMedicineUse_div",
					href: "/Medicine/AlterMedicineUsePage",
					title: "修改用药记录信息",
					width: 300,
					height: 220,
					modal: true,
					buttons: [{
						id: 'certain',
						text: '修  改',
						handler: function () {
							var rows = $("#this_table").datagrid("getChecked");
							var medicineuse_id = "";
							$.each(rows, function (i, row) {
								medicineuse_id = row.MedicineUseID + ",";
							});
							medicineuse_id = medicineuse_id.substring(0, medicineuse_id.length - 1);
							var amount = $("#amount").val();
							var reason = $("#reason").val();
							var medicine_person = $("#medicine_person").val();
							$.ajax({
								url: "/Medicine/UpdateMedicineUseByIdAction",
								data: {
									"medicineuse_id": medicineuse_id,
									"amount": amount,
									"reason": reason,
									"medicine_person": medicine_person
								},
								type: "POST",
								dataType: "Json",
								success: function (data) {
									alert(data);
									$("#alterMedicineUse_div").dialog("destroy");
									$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
								}
							})
						}
					}, {
						text: '取消',
						handler: function () {
							$("#alterMedicineUse_div").dialog("destroy");
						}
					}],
					onLoad: function () {
						// do nothing
					},
					onClose: function () {
						$("#alterMedicineUse_div").dialog("destroy");
					}
				})
			}
		}

		function deleteRow() {
			//删除行
			var rows = $("#this_table").datagrid("getChecked");
			if (rows.length < 1) {
				$.messager.confirm("提示", "请先选中要删除的列");
				return;
			}
			$.messager.confirm("提示", "确定删除此列？", function (r) {
				if (r) {
					var MedicineUseID = "";
					$.each(rows, function (i, row) {
						MedicineUseID = row.MedicineUseID + ",";
					});
					MedicineUseID = MedicineUseID.substring(0, MedicineUseID.length - 1);
					$.ajax({
						url: "/Medicine/DeleteMedicineUseByIdAction",
						data: { 'medicineuse_id': MedicineUseID },
						type: "POST",
						dataType: "Json",
						success: function (data) {
							alert(data);
							$("#this_table").datagrid("reload").datagrid("clearSelections").datagrid("clearChecked");
						}
					})
				}
			});
		}
	</script>
</head>
<body>
	<div style="width:1300px;">
		<div style="float:left;position:relative;">
			<table id="this_table" style="width:700px;float:left;position:relative"></table>
		</div>
		<div style="width:580px;height:460px;margin-left:10px;margin-top:5px;float:left;position:relative;background:#ffffff;align-content:center">
			<div style="font-family:宋体"></div>
			<div id="container" style="min-width:560px;height:430px;font-size:14px"></div>
		</div>
	</div>
</body>
</html>
