
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddManuWorkPage</title>
</head>
<body>
    <div> 
		<table>
			<tr>
				<td>牲畜ID</td>
				<td><input type="text" id="animal_id" /></td>
			</tr>
			<tr>
				<td>加工信息</td>
				<td><input type="text" id="manu_info" /></td>
			</tr>
		</table>
    </div>
</body>
</html>
