
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>FarmPage</title>
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/bootstrap/easyui.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
	<script src="~/Scripts/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
	<link href="~/Content/themes/icon.css" rel="stylesheet" />
	<link href="~/Scripts/jquery-easyui-1.4.4/themes/icon.css" rel="stylesheet" />
	<script src="~/Content/js/common.js"></script>
	<link href="~/Content/themes/table.css" rel="stylesheet" />
	<link href="~/Content/themes/icon.css" rel="stylesheet" />
	@*<link rel="shortcut icon" type="image/ico" href="~/Content/themes/icon/user_home.png" />*@

	<style>
		body {
			font-family: 'Microsoft YaHei';
		}
	</style>
	<script>
		getToolBar = function (data) {
			if (data.toolbar != undefined && data.toolbar != '') {
				var toolbar = [];
				$.each(data.toolbar, function (index, row) {
					var handler = row.handler;
					row.handler = function () { eval(handler); };
					toolbar.push(row);
				});
				return toolbar;
			} else {
				return [];
			}
		}
		$(document).ready(function () {
			$.ajax({
				url: "/Role/GetUserPowerButton",
				data: { "KeyName": "Farm" },
				dataType: "Json",
				type: "POST",
				success: function (data) {
					if (data.success) {
						var toolbar = getToolBar(data);
						$("#farm_table").datagrid({
							url: "/Company/GetAllFarmAction",
							striped: true,
							rownumber: true,
							pagination: true,
							singleSelect: true,
							idField: 'FarmID',
							//sortName: 'AnimalType',
							sortOrder: "asc",
							pageList: [5, 10, 20, 30],
							columns: [[
								{ field: "FarmID", title: "零售点ID", width: 100 },
								{ field: "FarmPerson", title: "负责人", sortable: true, width: 100 },
								{ field: "FarmPosition", title: "地址", width: 150 },
								{ field: "FarmTel", title: "联系电话ID", width: 150 },
								{ field: "FarmName", title: "零售点名称", width: 120 }
							]],
							toolbar: toolbar.length == 0 ? null : toolbar
						})
					}
					else {
						$.messager.alert("错误", data.msg);
					}
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					alert(XMLHttpRequest.status);
					alert(XMLHttpRequest.readyState);
					alert(textStatus);
				}
			});
		})
		function addFarm() {

		}
	</script>
</head>
<body>
	<div>
		<table id="farm_table"></table>
	</div>
</body>
</html>