
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AddRole</title>
</head>
<body>
	<div>
		<table>
			<tr>
				<td align="right">角色名称</td>
				<td><input id="role_name" type="text" /></td>
			</tr>
			<tr>
				<td align="right">角色描述</td>
				<td><input id="role_desc" type="text" /></td>
			</tr>
		</table>
	</div>
</body>
</html>
