
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddFeedTypePage</title>
</head>
<body>
    <div> 
		<table >
			<tr>
				<td>饲料种类名称</td>
				<td><input id="feedtype_name" type="text" /></td>
			</tr>
		</table>
    </div>
</body>
</html>
